* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-box {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.heading h1 {
  font-size: 28px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: 0.3s;
}

.form input:focus {
  border-color: #fcb69f;
  outline: none;
  box-shadow: 0 0 5px rgba(252, 182, 159, 0.5);
}

.form p {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.form a {
  color: #ff7e5f;
  text-decoration: none;
}

.form button {
  height: 45px;
  border: none;
  border-radius: 8px;
  background-color: #ff7e5f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.form button:hover {
  background-color: #e25a3a;
}



/* login.. */

.login-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.heading h1 {
  font-size: 28px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: 0.3s;
}

.form input:focus {
  border-color: #fcb69f;
  outline: none;
  box-shadow: 0 0 5px rgba(252, 182, 159, 0.5);
}

.form button {
  height: 45px;
  border: none;
  border-radius: 8px;
  background-color: #ff7e5f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background-color: #e25a3a;
}

/* home page... */
.mainContainer{
  height: 630px;
  width: 100%;
  background-color: pink;
  display: flex;
}
.leftNav{
  height: 100%;
  width: 30%;
  background-color: red;
}
.rightContent{
  height: 630px;
  width: 70%;
background-color: rgb(235, 235, 206);
display: flex;
align-items: center;
justify-content: center;
}
.content{
  height: 550px;
  width: 40%;
  background-color: rgb(240, 203, 134);
}
.content .header{
text-transform: uppercase;
text-align: center;
}